/* Modern theme (persian-blue) */

:root {
    --theme-font-size: 100%;
    --base-text-color: #000;
    --base-background-color: #fff;
    --base-link-color: #000;
    --base-accent-color: #1a2ccc;
    --base-secondary-accent-color: #dde0ff;
    --base-light-accent-color: #f8f8f8;
    --base-light-dark-accent-color: #252525;
    --base-dark-accent-color: #1e1d1c;
    --base-dark-gray-color: #5b5b5b;
    --base-header-background-color: #fff;
    --base-header-collapsed-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06);
    --base-footer-border-color: #e9e9e9;
    --base-faq-accordion-title-color: #fff;
    --base-modal-overlay-color: rgba(0, 0, 0, 0.5);
    --base-button-color: #fff;
    --base-form-control-border-color: #dbdbdb;

    --base-page-background-color: #fff;
    --base-not-found-decor-color: var(--base-accent-color);
    --base-status-label-background-color: #fff;
    --base-secondary-gray-color: #dbdbdb;
    --base-secondary-light-gray-color: #ececec;
    --base-additional-gray-color: #bfbfbf;
    --base-repayment-table-background: rgba(236, 236, 236, 0.6);
    --base-metrics-text-color: #fff;
    --base-card-text-color: rgba(109, 109, 109, 0.75);
    --base-modal-background-color: #fff;
    --base-modal-shadow: none;
    --base-account-avatar-color: #5b5b5b;
    --base-account-name-color: var(--base-dark-gray-color);
    --base-account-role-color: var(--base-dark-gray-color);
    --base-account-background-color: transparent;
    --base-account-inversed-background-color: var(--base-page-background-color);
    --base-burger-line-color: #000;
    --base-burger-inversed-line-color: #fff;

    --base-chart-background-color: var(--base-page-background-color);
    --base-chart-accent-color: var(--base-accent-color);
    --base-chart-axes-color: #333;
    --base-chart-split-line-color: #ccc;
    --base-chart-tooltip-background-color: #6a7985;

    --base-warning-color: #F80505;
    --accent-button-color: #39D020;
    --accent-button-background-color: #e1f8de;

    --base-body-font-weight: 300;
    --base-body-font-size: 1.8rem;
    --base-body-line-height: 1.5;
    --base-body-font-family: 'Chivo', 'Helvetica Neue', 'Helvetica', sans-serif;

    --base-h1-font-size: 7.2rem;
    --base-h1-font-weight: 800;

    --base-h2-font-size: 5.6rem;
    --base-h2-font-weight: 700;

    --base-h3-font-size: 4.8rem;
    --base-h3-font-weight: 700;

    --base-h4-font-size: 3.2rem;
    --base-h4-font-weight: 700;

    --base-h5-font-size: 2.8rem;
    --base-h5-font-weight: 700;

    --base-h6-font-size: 2.4rem;
    --base-h6-font-weight: 700;

    --base-headings-font-weight: 700;
    --base-headings-font-family: 'Roboto', 'Helvetica', 'Helvetica Neue', sans-serif;
}
